body {
    margin: auto;
    background-color: rgb(140 178 217);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(208 215 228);
}

nav img {
    display: inline;
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    max-width: 3%;
}

nav ul {
    list-style: none;
    text-align: right;
    margin-left: 50px;
}

nav ul li {
    display: inline;
    margin-right: 50px
}

nav a {
    text-decoration: none;
    color: white;
    border-bottom: 5px;
}

img {
    width: 100%;
}

#nav2 {
    background-color: white;
}

#nav2 a {
    color: darkblue;
}

#nav2 img {
    max-width: 20%
}

footer {
    margin-top: auto;
}
