body {
    margin: auto;
    background-color: rgb(202 210 227);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(140 178 217);
}

nav ul {
    list-style: none;
    text-align: right;
    margin-right: 50px;
}

nav ul li {
    display: inline;
    margin-right: 50px
}

nav a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

footer {
    margin-top: auto;
}
